.symbol-heading{
  font-family: popins;
  font-weight: 800;
  color: #58A9A5;
  line-height: 52.5px;
  font-size: 35px;
}
.main-option{
  font-family: popins;
  font-weight: 700;
  font-size: 25px;
  line-height: 35.5px;
  color: #58A9A5;
  text-decoration: none;
}
.menu-options{
  font-family: popins;
  font-weight: 400;
  font-size: 25px;
  line-height: 37.5px;
  color: #58A9A5;
  text-decoration: none;
}
.heading-button{
  font-family: popins;
  font-weight: 500;
  font-size: 25px;
  line-height: 37.5px;
  color: #FFFFFF;
}
.motto{
  font-family: popins;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1C2323;
}
.paragraph-discription{
  font-family: popins;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
}
.entire-product{
  font-family: popins;
  font-weight: 700;
  font-size: 25px;
  line-height: 37.5px;
  color: #FFFFFF;
}
.h2{
  font-family: popins;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1C2323;
}
.video-motto{
  font-family: popins;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
}
.video-discrip{
  font-family: popins;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
}
.check-video{
  font-family: popins;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
}
.mission-paragraph{
  font-family: popins;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color:#1C2323;
}
.heading-principles{
  font-family: popins;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color:#486958;
}
.projects-made{
  font-family: popins;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
}
.left-example{
  font-family: popins;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #58A9A5;
}
.pargraph-exampleleft{
  font-family: popins;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
}
.center-example{
  font-family: popins;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #58A9A5;
}
.pargraph-examplecenter{
  font-family: popins;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
}
.right-example{
  font-family: popins;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #58A9A5;
}
.pargraph-exampleright{
  font-family: popins;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
}
.digits-done{
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #58A9A5
}
.discription-done{
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #58A9A5;
}
.quote-sign{
  font-weight: 400;
  font-size: 300px;
  line-height: 45px;
  color: #FFFFFF;
}
.quote{
  font-weight: 500;
  font-size: 25px;
  line-height: 37.5px;
  line-height: 45px;
  color: #486958;
}
.author-quote{
  font-weight: 500;
  font-size: 25px;
  line-height: 37.5px;
  line-height: 45px;
  font-style: italic;
  color: #58A9A5;
}
.appeal{
  font-family: popins;
  font-weight: 500;
  font-size: 25px;
  line-height: 37.5px;
  color: #486958;
}
.form{
  font-family: popins;
  font-weight: 500;
  font-size: 25px;
  line-height: 37.5px;
  color: #486958;
}