@font-face {
  font-family: 'poppins';
  src: url(/Fonts/Poppins/Poppins-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'poppins';
  src: url(/Fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'poppins';
  src: url(/Fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'poppins';
  src: url(/Fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'port lligat sans';
  src: url(/Fonts/PortLligatSans-Regular.ttf);
}
html {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

body {
  width: 1640px;
  margin: 0 auto;
  padding: 0;
  font-family: 'poppins', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}
.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0 100px;
}

.header-nav img {
  position: relative;
  top: 10px;
}

.symbol-heading {
  margin-left: 12px;
  font-weight: 800;
  font-size: 35px;
  line-height: 52px;
  color: #58A9A5;
}

.main-option {
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  text-decoration: none;
  color: #58A9A5;
  margin-right: 70px;
}

.current-page{
  position: relative;
}

.current-page:after {
  position: absolute;
  display: block;
  content: "";
  left: calc(50% - 24px);
  width: 48px;
  height: 6px;
  background-color: #fec620;
  border-radius: 21px;
}

.menu-options {
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  text-decoration: none;
  color: #404242;
  margin-right: 70px;
}

.heading-button {
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #FFFFFF;
  background-color:#58A9A5;
  padding: 21px 87px;
  border: none;
  border-radius: 15px;
}
.main-content h1{
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.main-section{
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
}
.main-section-text{
  width: 743px;
}
.h2 {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1C2323;
  margin: 50px 0 30px;
}

.h2-settings {
  width: 506px;
  text-align: center;
  margin: 120px auto 80px;
}

.main-settings{
  display: flex;
  flex-direction: row;
  width: 507px;
  text-align: center;

}
.img-set{
  position: relative;
  background-color: #CCF0E6;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.text-discrip{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
  width: 500px;
  height: 90px;

}
.line-section1{
  display: block;
  width: 135px;
  
}
.vidget-pic{
  padding-left: 1056px;
  margin-right: 671px;
  margin-top: 1684px;
  bottom: 4375;

}
.section-discription{
  margin: 0 0 50px;
  text-align: center;
}
.section-discription-second{
  height: 45px;
  text-align: center;
  margin-top: 20px;
}
.extra-but{
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  color: #FFFFFF;
  border-bottom-left-radius: 0;
}

.background-img{
  position: absolute;
  right: 105px;
  z-index: -1;
}

.furniture-img{
  margin-top: 55px;
}

.body-small{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.text-srcdiscrip{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
}

.text-src{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
  position: absolute;
  bottom: 89px;
  right: 334px;
}
.play-sign{
  position: absolute;
  width: 27px;
  margin: 30px 30px 50px 40px;
}
.sphere-grey{
  position: absolute;
 background-color: #FFFFFF66;
 width: 128px;
 height: 128px;
 border-radius: 65%;
 margin: 182px 999px;
}
.sphere-white{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #FFFFFF;
  border-radius: 65px;
  margin: 196px 399px 54px 1013px
}
.second-mainsection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1487px;
  height: 644px;
  margin-top: 151px

}
.second-mainsection-text{
  width: 487px;
  height: 180px;
  margin-right: 177px;
  

}
.sofa-img{
  display: block;
  width: 642px;
  height: 650px;
  margin-right: 141px;
}
.motto{
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #1C2323;

}
.motto-discrip{
  font-family: 'poppins', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #486958;
  width: 708px;
  height: 225px;
}

.pic-name{
  font-family: 'poppins', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #58A9A5;
}

.digits-stat{
  font-family: 'poppins', serif;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #58A9A5;
  
}

.digits-discrip{
  font-family: 'poppins', serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #58A9A5;
}

.quote-sign{
  font-family: 'Lligat sans',sans-serif;
  font-weight: 400;
  font-size: 300px;
  line-height: 320px;
  color: #FFFFFF;
}

.quote{
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #486958;
}

.author{
  font-weight: 500;
  font-style: italic;
  font-size: 25px;
  line-height: 37px;
  color: #58A9A5;
}

.section-proj{
  display: flex;
  justify-content: center;
}

.lines{
  display: flex;
    justify-content: center;
}

.section-content1{
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 94px;
}

.brands-block{
  display: flex;
  justify-content: center;
  
}

.mayoutfit{
  margin-top: 90px;
}

.brand-elem{
  margin-left: 45px;
  margin-right: 45px;
}

.exp{
  display: flex;
}

.img-side{
  height: 700px;
  width: 615px;

}

.block-sife{
  height: 700px;
  width: 997px;
  background-color: #CCF0E6;
}

.digits{
  display: flex;
}
.digits1{
  height: 179px;
  width: 119px;
  margin-left: 135px;
}

.digits2{
  height: 179px;
  width: 169px;
  margin-left: 135px;
}


.digits3{
  height: 179px;
  width: 250px;
  margin-left: 135px;
}

.author-block{
  height: 228px;
  width: 752px;
  margin-top: 250px;
  margin-left: 138px;
}